.selectEquacoes{
    font-size: 22px;
    color: rgb(13, 13, 68);
    background-image: linear-gradient(to right, rgba(235,234,255,1) 0%, rgba(0,65,255,1) 100%);
    width: 900px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}
#formula{
    border-radius: 8px;
    color: rgb(0, 0, 179);
    height: 22px;
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
}
#selecionar{
    color: rgb(0, 0, 179);
    height: 23px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bolder;
}